designs/pages/new_travel_request.json
[
    {
        "id": "sd_osEacZsdUBcy4IJg",
        "type": "tab",
        "createdDate": "2022-06-28T23:10:55.135Z",
        "label": "new_travel_request",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_SXnm4ototMyRWa27",
        "type": "OnInit",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_SXnm4ototMyRWa27",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 80,
        "wires": [
            [
                "sd_29SaoqdRQU5PNx7n"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_Wk8sdZqsBt1wmfF9",
        "type": "UseDependency",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormArray",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "FormArray"
                },
                "injectable": false
            },
            {
                "textIp": "FormBuilder",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "FormBuilder"
                },
                "injectable": true
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "FormControl"
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "FormGroup"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "Validators"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_Wk8sdZqsBt1wmfF9",
        "category": "Function",
        "x": 165,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_29SaoqdRQU5PNx7n",
        "type": "PageVariables",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "dependancy",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            },
            {
                "textIp": "travelDetail",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            }
        ],
        "functionName": "sd_29SaoqdRQU5PNx7n",
        "category": "Function",
        "x": 301,
        "y": 79.80000305175781,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
